<div class="container-fluid">
 <h2>Bonita test</h2>.
 <form>
     <p>Login </p>
     <p> On : <input type="text" name="url" value="{{url}}"/></p>
     <p> Login : <input type="text" name="url" value="{{user}}"/></p>
     <p> Password : <input type="text" name="url" value="{{pass}}"/></p>
     <p><input type="button" ng-click="log()"></p>
 </form>
 
 
</div>
